body {
        margin-top: 20px;
        /* background: #f5f5f5; */

        background: url('120.jpg') no-repeat 0% 87% fixed;
        background-size: cover;
        font-family: 'Lato', sans-serif;
        /* text-align: center; */
    }