<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select Subjects</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/signupstyle.css') }}">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" class="appointment-form" id="appointment-form">
                <h2>Fill in Subjects</h2>

                <div class="form-group-1">
                	<input type="text" name="num" id="name" placeholder="Enter the number of subjects"  required />
                    <input type="text" name="sub1" id="name" placeholder="Subject-1"   />
                    <input type="text" name="sub1c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub1t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub2" id="USN" placeholder="Subject-2"  />
                    <input type="text" name="sub2c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub2t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub3" id="email" placeholder="Subject-3"  /> 
                    <input type="text" name="sub3c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub3t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub4" id="name2" placeholder="Subject-4"   />
                    <input type="text" name="sub4c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub4t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub5" id="USN2" placeholder="Subject-5"  />
                    <input type="text" name="sub5c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub5t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub6" id="email2" placeholder="Subject-6"  /> 
                    <input type="text" name="sub6c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub6t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub7" id="name3" placeholder="Subject-7"   />
                    <input type="text" name="sub7c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub7t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub8" id="USN31" placeholder="Subject-8"  />
                    <input type="text" name="sub8c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub8t" placeholder="Enter total attendace in subject">
                    <input type="text" name="sub9" id="email11" placeholder="Subject-9"  /> 
                    <input type="text" name="sub9c" placeholder="Enter current attendace in subject">
                    <input type="text" name="sub9t" placeholder="Enter total attendace in subject">
                </div>
                <!-- Train to busan -->
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="Submit"  />
                </div>
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/signmain.js"></script>
</body>
</html>